:root {
    font-family: sans-serif;   
}
h1 {
    text-align: center;
    font-size: 40px;
  }
  p {
    text-align: center;
  }
  
  button {
    border-radius: 8px;
  }

  textarea {
    width: 90%;
    margin: 20px;
  }
  
  label {
    /* margin-right: 10px; */
  }
  input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
    font-size: 20px;
  }
  /* list item style */
  li {
    background-color: purple;
    margin-top: 10px;
    padding: 5px 15px;
    width: max-content;
    font-size: 18px;
    color: white;
    border-radius: 8px;
  }
/* wrapper style */
  #wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    font-weight: bolder;
    
  }
  /* start button */
  #startTime {
    background-color: purple;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
  }
  /* questions style */
  #questionsSection {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
  }
  
  #createSection {
    margin-top: 20px;
    border-top: 1px solid lightgray;
  }
  /* timer style */
  #currentTime {
    font-weight: bolder;
    text-align: right;
  }
  /* go back button */
  #goBack {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 18px;
    color: white;
    top: 30%;
    left: 25%;
    width: auto;
    text-align: center;
    text-decoration: none;
  }
  /* button hover style */
  #Submit:hover,
  li:hover,
  button:hover,
  #startTime:hover,
  #clear:hover,
  #goBack:hover {
    cursor: pointer;
    background-color: plum;
  }
/* clear button */
  #clear {
    background-color: purple;
    position: relative;
    padding: 10px;
    font-size: 18px;
    color: white;
    top: 30%;
    left: 25%;
    text-align: center;
  }
  /* submit button */
  #Submit {
    background-color: purple;
    margin-left: 35%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
  }
  
  @media screen and (max-width: 786px) {
    body {
      max-width: 786px;
    }
    #wrapper {
      position: absolute;
      left: 20%;
    }}